@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

:root {
  --thyssenkrupp: #0095d8;
}

body {
  overflow-x: hidden;
  font-family: 'Roboto'/*, 'Poppins', 'Helvetica Neue', sans-serif*/;
  color: black;
  /*color: var(--thyssenkrupp);*/
}

.logo {
  /*color: #10d389 !important;*/

}

.logo h1 {
  display: inline;
  font-weight: 700;
}

.control-shadow {
  /*filter: drop-shadow(0 0.2rem 0.3rem #000000);*/
}

.bckgrnd-img {
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;              /* optional, center the image */
}

.form {
  margin: 0 auto;
  filter: drop-shadow(0 0 0.5rem);
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
}
.separator::before, .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #ccc;
}
.separator::before {
    margin-right: .25em;
}
.separator::after {
    margin-left: .25em;
}

.navbar {

  filter: drop-shadow(0 0 1em #00000022);
}

.nav-item, .navbar-dark .navbar-nav .nav-link {
  text-transform: uppercase;
  font-weight: bold;
  color: whitesmoke;
  padding: 0.5em 0.8em;
  border-radius: 1em;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  transition-duration: 0.3s;
  color: #0095d8 !important;
  background-color: white;
}

.navbar-toggler:active {
  outline: none;
}

/* SLIDER */
.slide {
  /*background: linear-gradient(transparent, #000000ff);*/
}

.carousel-item {
  height: 100vh;
}

.narrow {
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}

.btn {
  padding: 0.6rem 1.1rem;
  margin: 0.6rem;
  font-weight: 700;
}
